body {
  background-color: #f5f9fb;
  height: 90vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube {
  background: #6185af;
  width: 250px;
  height: 250px;
  position: relative;
  box-shadow: 0px 0px 16px 4px rgb(0 0 0/0.2);
  border-bottom-left-radius: 30px;
  transform-style: preserve-3d;
}

.cube::before {
  content: '';
  display: inline-block;
  background: #6185af;
  width: 250px;
  height: 20px;
  transform: skewX(-40deg);
  position: absolute;
  top: -20px;
  left: 8px;
  /* border-radius: 30px; */
}

.cube::after {
  content: '';
  display: inline-block;
  background: #6185af;
  width: 16px;
  height: 250px;
  transform: skewY(-50deg);
  position: absolute;
  top: -11px;
  left: 100%;
  /* border-radius: 30px; */
}

.box {
  width: 220px;
  height: 220px;
  background-color: #f5f9fb;
  border-radius: 25px;
  position: relative;
  z-index: 4;
  /* box-shadow: inset 10px 10px 20px 5px rgba(0, 0, 0, 0.1),
    inset -6px -6px 25px rgba(255, 255, 255, 0.75); */
}

.box::before {
  content: '';
  position: absolute;
  z-index: 0;
  left: -25px;
  right: -25px;
  top: -25px;
  bottom: -25px;
  border-radius: 25px;
  box-shadow: inset 10px 10px 20px 5px rgba(0, 0, 0, 0.1),
    inset -6px -6px 25px rgba(0, 0, 0, 0.1);
}

.clock {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #f5f9fb;
  position: relative;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border: 3px solid #6185af;
  border-radius: 0 0 0 50px #e0e0e0,
    -26px -26px 30px 35px rgba(255, 255, 255, 0.6),
    0 0 50px 50px rgba(0, 0, 0, 0.1);
}

.control {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.clear {
  position: absolute;
  z-index: 6;
  background-color: #f5f9fb;
  width: 100%;
  top: -10px;
  left: -10px;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #6185af;
}

.hour-hand {
  position: absolute;
  width: 12px;
  height: 50px;
  background-color: #6185af;
  bottom: 50%;
  left: 14px;
  transform-origin: bottom;
  box-shadow: 0px 0px 16px 4px rgb(0 0 0/0.2);
}

.hour-hand::before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #6185af;
  transform: translate(-6px, -12px);
}

.minute-hand {
  position: absolute;
  width: 8px;
  height: 70px;
  bottom: 50%;
  left: 16px;
  background-color: #6185af;
  transform-origin: bottom;
  transform: rotate(90deg);
  box-shadow: 0px 0px 16px 4px rgb(0 0 0/0.2);
}

.minute-hand::before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #6185af;
  transform: translate(-4px, -12px);
}

.box:not(:first-child) {
  display: none;
}

.twelve {
  position: absolute;
  top: -36px;
  font-size: 24px;
}

.eleven {
  position: absolute;
}

.ten {
  position: absolute;
}

.nine {
  position: absolute;
  left: -36px;
  font-size: 24px;
}

.eight {
  position: absolute;
}

.seven {
  position: absolute;
}

.six {
  position: absolute;
  bottom: -36px;
  font-size: 24px;
}

.five {
  position: absolute;
}

.four {
  position: absolute;
}

.three {
  position: absolute;
  right: -36px;
  font-size: 24px;
}

.two {
  position: absolute;
}

.one {
  position: absolute;
}

.minute {
}
