/* $white-1: #E9EBDB;
$white-2: #DEE0D3;
$white-3: #AAAAAA;
$white-4: #A1A1A0;
$white-4: #666666;
 */

body {
  background-color: #fccd64;
  height: 90vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  height: 300px;
  background-color: white;
  transform-style: preserve-3d;
  position: relative;
}

.container::before {
  content: '';
  display: inline-block;
  background: whitesmoke;
  width: 300px;
  height: 33px;
  transform: skewX(-40deg);
  position: absolute;
  top: -33px;
  left: 5%;
}

.container::after {
  content: '';
  display: inline-block;
  background: rgb(102, 102, 102);
  width: 30px;
  height: 300px;
  transform: skewY(-50deg);
  position: absolute;
  top: -17px;
  left: 100%;
  z-index: 8;
}

.shadow {
  position: absolute;
  bottom: 0px;
  left: 100%;
  width: 100px;
  height: 80px;
  background-color: rgba(82, 82, 82, 0.8);
  transform: skewY(-35deg) translate(13px, 2px) rotateX(60deg) rotateZ(30deg);
}

.box {
  width: 250px;
  height: 250px;
  background-color: #f5f9fb;
  border-radius: 20px;
  position: relative;
  z-index: 4;
  transform-style: preserve-3d;
  box-shadow: inset 10px 10px 20px 5px rgba(0, 0, 0, 0.1),
    inset -6px -6px 25px rgba(255, 255, 255, 0.75),
    inset 5px -15px 0px 0px #666666, inset 9px -5px 0px 4px #666666,
    -4px 2px 0px 0px #666666, 0px -2px 0px 0px #666666;
}

.clock {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #f5f9fb;
  position: relative;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border: 3px solid black;
  margin-top: -20px;
}

.control {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.clear {
  position: absolute;
  z-index: 6;
  background-color: #f5f9fb;
  width: 100%;
  top: -10px;
  left: -10px;
  height: 100%;
  border-radius: 50%;
  border: 10px solid black;
}

.hour-hand {
  position: absolute;
  width: 12px;
  height: 50px;
  background-color: black;
  bottom: 50%;
  left: 14px;
  transform-origin: bottom;
  box-shadow: 0px 0px 16px 4px rgb(0 0 0/0.2);
}

.hour-hand::before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid black;
  transform: translate(-6px, -12px);
}

.minute-hand {
  position: absolute;
  width: 8px;
  height: 70px;
  bottom: 50%;
  left: 16px;
  background-color: black;
  transform-origin: bottom;
  transform: rotate(90deg);
  box-shadow: 0px 0px 16px 4px rgb(0 0 0/0.2);
}

.minute-hand::before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid black;
  transform: translate(-4px, -12px);
}

.box:not(:first-child) {
  display: none;
}

.twelve {
  position: absolute;
  top: -30px;
  font-size: 24px;
}

.nine {
  position: absolute;
  left: -24px;
  font-size: 24px;
}

.six {
  position: absolute;
  bottom: -36px;
  font-size: 24px;
}

.three {
  position: absolute;
  right: -24px;
  font-size: 24px;
}
